In [3]:
import sqlite3
import pandas as pd
import matplotlib.pyplot as plt

# Connexió a la base de dades SQLite
conn = sqlite3.connect("D:/TFG/Data/Open Data BCN/transit.db")

# 2. Carregar un subconjunt de dades
query = "SELECT idTram, AVG(estatActual) AS mitjana_estat FROM estat_transit WHERE estatActual not in (0,6) GROUP BY idTram"
df = pd.read_sql_query(query, conn)

In [4]:
df

     idTram  mitjana_estat
0         1       1.972179
1         2       1.634349
2         3       1.933231
3         4       2.173187
4         5       2.171062
..      ...            ...
449     539       1.699002
450    2001       1.934579
451    2002       1.932462
452    2003       2.833333
453    2004       2.472222

[454 rows x 2 columns]